#header {
display: flex;
height: 10vh;
flex-direction: row;
justify-content: space-around;
}

#main-content {
background: url("./images/background.jpg");
background-position: center;
height: 70vh;
color: white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}
.title {
    color: #50A891;
}

#content-right {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;


}
#content-left {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 400px;
    width: 300px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 20px;
}

#content-right {
    color: black;
}

#search {
    color:white;
    background:#50A891;
    border-radius: 5px;
    border: none;
    height: 40px;
    width: 190px;
}

#cart-container {
 background-color: #F3F3F4;
background-position: center;
height: 70vh;
color: white;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
}

#content-cart {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 150px;
    width: 800px;
    margin-left: 70px;
    margin-right: 70px;
    border-radius: 15px;
    color: black;

}



